@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--leaflet-tile-filter: brightness(0.7) invert(1) contrast(2) hue-rotate(200deg) saturate(0.8) brightness(0.7);
} */

html,
body {
	background: rgb(24, 24, 39);
	padding: 0;
	margin: 0;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: none !important;
}
.leaflet-bar a {
	background-color: #333 !important;
	border: 1px solid wheat !important;
	border-radius: 3px !important;
	margin: 5px !important;
}

.leaflet-bar a span {
	color: white;
}

.map {
	@apply w-full h-full;
}

.leaflet-tile {
	filter: var(--leaflet-tile-filter, none) !important;
}

.leaflet-bottom.leaflet-right {
	@apply hidden;
}

.tooltip-text {
	@apply font-semibold text-xs;
}

.leaflet-control-layers-toggle {
	@apply bg-slate-700;
}

.leaflet-control-layers-expanded,
.leaflet-control-layers-list {
	@apply bg-slate-700 text-white;
}

::-webkit-scrollbar {
	@apply w-3;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-green-500 rounded-md;
}

::-webkit-scrollbar-track {
	@apply bg-green-700 rounded-md;
	border: none;
}
